@import 'tailwindcss';

@theme {
  --color-primary-background: #506a2d;
  --color-secondary-background: #99b477;
  --color-primary-foreground: #222c10;
  --color-secondary-foreground: #3a4c25;
  --color-btn-primary: #4ab14f;
  --color-btn-secondary: #fcfffd;
}

:root {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-inter);
  height: 100vh;
}
